body
{
	background-image: url("../images/ground.jpg");
	background-repeat: no-repeat;
	background-size:auto 125%;
}
#header
{
	height: 20%;
	width:100%;
}
#section
{
	height: 60%;
	width:100%;
}
#footer
{
	height: 20%;
	width:100%;
}